* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
* ::before {
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  background-color: rgb(26, 79, 135);
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    width: 1200px;
  }
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 15px 41px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  transition: 0.3s;
}

.btn:hover {
  color: var(--shrift-color);
  background-color: transparent;
  border: 1px solid #bcd0e5;
}

@media (max-width: 555px) {
  .btn {
    padding: 12px 24px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .btn {
    padding: 12px 24px;
    font-size: 14px;
  }
}

.title {
  margin-bottom: 23px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--shrift-color);
}

.subtitle {
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--shrift-color);
}

.description {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--shrift-color);
}

.left {
  text-align: left;
}

@media (max-width: 555px) {
  .title {
    font-size: 25px;
  }

  .subtitle {
    font-size: 14px;
  }

  .description {
    font-size: 12px;
    line-height: normal;
  }
}

#backtop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--primary-color);
}

.show-backtop {
  display: block !important;
}

// the below code fragment can be found in:

.circle {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(255, 228, 22, 0.844);
  overflow: hidden;
}

.rectangle__first {
  position: absolute;
  top: 250px;
  left: 40px;
  transform: rotateZ(60deg);
  display: inline-block;
  width: 500px;
  height: 500px;
  background-color: rgb(162, 15, 15);
}

.rectangle__second {
  position: absolute;
  top: 250px;
  left: -20px;
  transform: rotateZ(60deg);
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: rgb(162, 15, 15);
}

.building {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  padding-bottom: 200px;
  border-radius: 100px 100px 0px 0px;
  background-color: rgb(35, 88, 211);
}

.stairs {
  display: flex;
}

.stair {
  width: 100px;
  height: 30px;
  display: inline-block;
  background-color: black;
}

.animation__card {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: rgb(57, 122, 213);
  overflow: hidden;
}

.animation__cards {
  width: 50%;
  background-color: rgb(117, 2, 217);
  transition: 0.4s;
  // transform: scale(0);
}

.animation__cards:hover {
  transform: scale(1);
}
